# Emacs tempfiles
**/.#*

# Python venv
env

# Python Bytecode
**/*.pyc
**/__pycache__

# Firefox Addon files
src/ff_addons

# Measurements
src/har
src/counted-domains/
src/alternative-names/

# Gecko runtime logs
**/geckodriver.log


